.d-block {
    height: 60vh;
}

.navbar-brand img {
    width: 65px;
    height: 65px;
}

nav {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 20px 1px #ddd; /* on scroll */
}

.nav-wrapped {
    width: 100%;
}

.navbar-collapse {
    /* background: orange; */
    width: 70%;
}

.nav-item {
    margin: 0 10px;
}

.navbar-brand {
    margin-right: 5%;
    /* background: green; */
}

.cards {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-header {
    /* background: green; */
    width: 80%;
    margin-top: 40px;
    /* display: flex;
    flex-direction: column; */
}

.menu-box {
    /* background: red; */
    display: flex;
    flex-direction: column;
    width: 8%;
}

.menu-border {
    background: rgb(106, 110, 114);
    width: 70%;
    height: 6px;
}

.cards-wrapped {
    /* background: blue; */
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin-top: 50px;
}

.btn {
    background: dodgerblue;
}

footer {
    margin-top: 50px;
    height: 80px;
    color: #424243;
    text-align: center;
    padding-top: 20px;
    background: #E1E2EC;
}
