.d-block {
    height: 60vh;
}

.navbar-brand img {
    width: 65px;
    height: 65px;
}

nav {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 20px 1px #ddd;
    /*on scroll*/
    background: #fff;
}

.nav-wrapped {
    width: 100%;
}

.navbar-collapse {
    /* background: orange; */
    width: 70%;
}

.nav-item {
    margin: 0 10px;
}

.navbar-brand {
    margin-right: 15%;
    /* background: green; */
}

.header-content {
    /* background: #53418a; */
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.header-content::before {
    border-radius: 100%;
    position: absolute;
    background: #53418a;
    right: -400px;
    left: -400px;
    top: -200px;
    content: '';
    bottom: 0;
}

.header-icon {
    position: absolute;
    right: 20%;
    bottom: 10%;
    background: #53418a;
    width: 25%;
    height: 80%
}

.header-info-title h1 {
    margin: 0;
    background: #53418a;
    color: #ccc
}

.header-info-title button {
    background: #53418a;
    margin: 0;
    justify-content: space-around;
}

.header-btns {
    /* width: 100%;
    z-index: 1;
    background: red; */
}

.header-info-title {
    position: absolute;
    width: 30%;
    left: 20%;
    top: 30%;
}

.header-icon img {
    background: #53418a;
    /* width: 80%; */
    height: 100%
}

.curved-bottom div {
    background-color: black;

}

.cards {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-header {
    /* background: green; */
    width: 80%;
    margin-top: 40px;
    /* display: flex;
    flex-direction: column; */
}

.menu-box {
    display: flex;
    flex-direction: column;
    width: 8%;
}

.menu-border {
    background: rgb(106, 110, 114);
    width: 70%;
    height: 6px;
}

.cards-wrapped {
    /* background: blue; */
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin-top: 50px;
}

.btn {
    background: dodgerblue;
}

.full-page {
    height: 100vh;
    padding-top: 120px;
}

.about-us {
    width: 90%;
    text-align: center;
    opacity: .9;
    /* background: red; */
}

.intro-about {
    width: 50%;
    text-align: center;
    /* background: blue; */
    margin: 0 auto;
}

.content-container {
    margin-top: 30px;
    display: flex;
}

.about-info {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.about-img {
    width: 50%;
}

.about-img img {
    height: 90%;
    padding: 0;
}

.our-mission {
    display: flex;
    /* background: red; */
    margin-top: 30px;
}

.mission-icon img, .vision-icon img {
    width: 50%;
    height: 50%;
    opacity: .8;
}

.our-vision {
    display: flex;
}

.vision-icon,
.mission-icon {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-text,
.mission-text {
    flex: 80%;
}

.vision-text h5, .mission-text h5 {
    text-decoration: underline;
}

.our-services {
    background: blue;
    width: 90%;
    padding-top: 20px;
}

.how-it-works {
    background: green;
    width: 90%;
    padding-top: 20px;
}

.collaborations {
    width: 90%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    /* background: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 50px;
    height: 80px;
    color: #424243;
    text-align: center;
    padding-top: 20px;
    background: #E1E2EC;
}